.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.movie_title {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgb(27, 27, 24);
}

.movie_description {
  color: white;
  width: 450px;
  line-height: 1.2;
  padding-top: 10px;
  font-size: 1.6rem;
  text-shadow: 1px 1px 4px rgb(27, 27, 24);
}

.btn_container {
  display: flex;
}

.btn_play,
.btn_info {
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 190px;
  margin-left: 10px;
}

.btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_info {
  background-color: #6d6d6e;
}

.btn_info:hover {
  background-color: #72727480;
}

.btn_play:hover {
  opacity: 0.9;
}

/* fix img */
.detail_cont {
  display: flex;
  position: relative;
}
.video_image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.image_detail {
  justify-content: center;
  width: 100%;
  filter: brightness(90%);
}

.article_info {
  position: absolute;
}
.info {
  position: relative;
  padding: 180px 60px;
}

@media only screen and (max-width: 1024px) {
  .info {
    padding: 100px 60px;
  }
  .movie_description {
    font-size: 1rem;
  }
  .btn_info,
  .btn_play {
    height: 38px;
    width: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .movie_title {
    font-size: 1rem;
  }
  .info {
    padding: 91px 42px;
  }
}
