.row {
  display: -webkit-box;
}
.section_row {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.section_img {
  display: flex;
}

.movie_img {
  object-fit: contain;
  width: 100%;
  max-height: 300px;
  border-radius: 20px;
  cursor: pointer;
}

.movie_img:hover {
  transform: scale(1.4);

  transition: transform 300ms ease 100ms;
}

.title {
  color: white;
  font-size: 2rem;
  padding: 0 40px;
}

@media only screen and (max-width: 1024px) {
  .movie_img {
    border-radius: 10px;
    max-height: 260px;
  }
  .title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .movie_img {
    border-radius: 10px;
    max-height: 220px;
  }
}

@media only screen and (max-width: 425px) {
  .movie_img {
    border-radius: 10px;
    max-height: 160px;
  }
  .title {
    font-size: 1rem;
    padding: 0 10px;
  }
}
