.row {
  display: -webkit-box;
}
.section_row {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.section_img {
  display: flex;
}

.movie_img {
  object-fit: contain;
  width: 100%;
  max-height: 300px;
  border-radius: 20px;
  cursor: pointer;
}

.movie_img:hover {
  transform: scale(1.4);

  transition: transform 300ms ease 100ms;
}

.title {
  color: white;
  font-size: 2rem;
  padding: 0 40px;
}
